<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="ChromeTests">
  <parameter name="Browser" value="Chrome"></parameter>
    <packages>
      <package name="com.FDX.Tests"/>
    </packages>
  </test> <!-- Test -->
  
  
  <test name="FirefoxTests">
  <parameter name="Browser" value="Firefox"></parameter>
    <packages>
      <package name="com.FDX.Tests"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
